.about-page {
    text-align: center;

    .title {
        font-size: 45px;
    }

    .description {
        font-style: italic;
        font-size: 30px;
    }

    footer {
        position: absolute;
        bottom: 20px;
        font-weight: bold;
    }
}