.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px){
        width: 360px;
        margin-bottom: 40px;
      }

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}