*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 80px;
    /* background-color: #C5D9D7; */
    background: linear-gradient(to right, rgb(255, 55, 255), rgb(0, 230, 230));
}

a {
    text-decoration: none;
    color: black;
}
