*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 80px;
    background: linear-gradient(to right, rgb(255, 55, 255), rgb(0, 230, 230));

    @media screen and (max-width: 800px) {
        padding: 10px ;
    }

    a {
        text-decoration: none;
        color: black;
    }

}
