*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 80px;
}

a {
    text-decoration: none;
    color: black;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track:horizontal {
  display: none;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}